*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(243, 236, 226);
}

.conteiner{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1000px, 1fr));
    grid-gap: 10px;
}

/*cabeçalho*/

header{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(243, 236, 226);
    position: fixed;
    width: 100%;
    z-index: 2000000000;
    transition: all 0.5s ease;
}

header img{
    width: 110px;
    margin-left: 150px;
    transition: opacity 0.5s ease;
}

header .link{
    padding-right: 50px;
    padding-left: 50px;
    font-size: 18px;
    text-decoration: none;
    color: #1b1b1c;
}

.menu{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 100px;
    transition: justify-content 0.5s ease;
}

header .link:hover{
    text-decoration: underline;
    color: #2f2f30;
}


/*footer*/

.rodape .divisoria{
    margin-top: 70px;
    width: 800px;
    transform: translateX(35%);
}

footer{
    margin-top: 20px;
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,170,177,1) 100%);
    color:rgb(243, 236, 226);
    padding-top: 20px;
    -webkit-border-top-left-radius: 50px;
    -webkit-border-top-right-radius: 50px;
    -moz-border-radius-topleft: 50px;
    -moz-border-radius-topright: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

footer button{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    gap: 10px;
    padding: 10px 10px;
    background-color: #ccc9c9;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

footer button:hover{
    background-color: #858588;
    transform: scale(110%);
}

/*content*/


h1{
    text-align: center;
    margin-top: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin-top: 110px;
}

.divisoria{
    width: 700px;
    border-radius: 100px;
    height: 3px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,170,177,1) 100%);
    margin-bottom:40px ;
    display: flex; 
    transform: translateX(45%);
}

.content{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,170,177,1) 100%);
    border-radius: 100px;
    display: grid;
    place-items: center;
}

.left{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 150px;
    border-radius: 30px;
    border:1px solid rgb(243, 236, 226);
}

.right{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 154px;
    border-radius: 30px;
    border:1px solid rgb(243, 236, 226);
}

.content #left p{
    font-size: 20px;
    margin-right: 150px;
    text-align:justify;
    color: rgb(243, 236, 226);
    margin-top: 100px;
}

.content #right p{
    font-size: 20px;
    margin-left: 150px;
    text-align:justify;
    color: rgb(243, 236, 226);
    margin-top: 100px;
}

#left{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#right{
    display: grid;
    grid-template-columns: 1fr 1fr;
}